@import '../../styles/breakpoints/breakpoints';
@import '../../styles/colors/colors';
@import '../../styles/fonts/fonts';
@import '../../styles/mixins/mixins';
@import '../../styles/spacing/spacing';

.landing {
    @include createDefaultContainer(100%, 100vh);
    padding: 0 0.5%;
    background-image: url('https://images.unsplash.com/photo-1509624776920-0fac24a9dfda?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');

    .landing-inner {
        @include centerInnerContainer(300px, 100vh);
        // background-color: greenyellow;
        @include flexContainer(center, center);
        flex-direction: column;
        gap: 50px;

        .logo {
            background-color: red;
        }

    }
}