@import '../../styles/breakpoints/breakpoints';
@import '../../styles/colors/colors';
@import '../../styles/fonts/fonts';
@import '../../styles/mixins/mixins';
@import '../../styles/spacing/spacing';

.dashboard {
    @include createDefaultContainer(100%, 100vh);
    overflow: hidden;
    display: grid;
    grid-template-columns: 15% 85%;

    .left-dashboard {
        
    }
    
    .right-dashboard {
        display: grid;
        overflow-y: hidden;
        grid-template-rows: 10% 90%;

        .header-dashboard {

        }

        .content-dashboard {
            // background-color: greenyellow;
            overflow-y: scroll;
            padding-top: 10px;
            padding-left: 20px;
            // padding-bottom: 50px;
        }
    }

}