@import '../../styles/breakpoints/breakpoints';
@import '../../styles/colors/colors';
@import '../../styles/fonts/fonts';
@import '../../styles/mixins/mixins';
@import '../../styles/spacing/spacing';

.auth-subheader {
    font-family: $ibm-font;
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    color: $light-gray;
}