@import '../../styles/breakpoints/breakpoints';
@import '../../styles/colors/colors';
@import '../../styles/fonts/fonts';
@import '../../styles/mixins/mixins';
@import '../../styles/spacing/spacing';

.changepassword {
    @include createDefaultContainer(100%, 100vh);

    .changepassword-inner {
        @include centerInnerContainer(100%, 100vh);
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media screen and (max-width: $breakpoint-md) {
            grid-template-columns: 1fr;
        }
        
        .changepassword-inner-left {
            @include flexContainer(center, center);

            @media screen and (max-width: $breakpoint-md) {
                order: 1;
            }

            .form-container {
                width: 75%;
                margin: 0 auto;
                
                @media screen and (max-width: $breakpoint-sm) {
                    margin-bottom: 50px;
                }

                @media screen and (max-width: $breakpoint-sm) {
                    width: 90%;
                }

                .logo-container {
                    width: 100%;
                    @include flexContainer(center, center);
                }
            }
        }

        .changepassword-inner-right {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-image: url('../../assets/images/change-password-bg.png');
        }
    }
}